@font-face {
  font-family: 'TheSans';
  src: url('/woff/thesans-plain.woff2') format('woff2'),
    url('/woff/thesans-plain.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'TheSans';
  src: url('/woff/thesans-bold.woff2') format('woff2'),
    url('/woff/thesans-bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}
